@use 'src/styles/vars';

.counter {
  height: 100vh;
  width: 100%;
  background: vars.$color-darker;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;

  &-total {
    font-size: 17rem;
    font-weight: 200;
    color: vars.$color-bright;

    &--danger {
      color: #EB5A55;
    }
  }
}

.btn {
  width: 100px;
  height: 100px;
  margin: .2rem;
  border: solid 7px vars.$color-bright;

  &--add {
    font-weight: 200;
    font-size: 4rem;
    color: vars.$color-darker;
    background-color: vars.$color-bright;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    &--danger {
      background-color: #EB5A55;
      border-color: #EB5A55;
    }

    &:active {
      background: vars.$color-darker;
      color: vars.$color-bright;
    }
  }

  &--rmv {
    font-size: 2.3rem;
    background: vars.$color-darker;
    color: vars.$color-bright;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    &:active {
      color: vars.$color-darker;
      background-color: vars.$color-bright;
    }
  }
}

.reset-btn {
  margin-top: 3rem;
  padding: .3rem 1.2rem;
  background: vars.$color-alt;
  border: none;
  border-radius: 1rem;
  color: vars.$color-darker;
  font-size: 1.3rem;

  &:active {
    background-color: vars.$color-bright;
  }
}
