@use 'src/styles/vars';

.header {
  width: 100%;
  padding: vars.$gutter;
  margin-top: vars.$gutter;

  &-title {
    font-size: 1.6rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: vars.$color-darker;
  }
}
